BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"pluginterfaces/|^"public.sdk/|^"vstgui/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
